.login, .personal_video{
	color:#6a829c;
	font-size: 60px;
}
.account_balance_wallet,.business_center,.local_library,.layers,.redeem{
	color:#6a829c;
	font-size: 50px;
}
.person{
	color:#6a829c;
	font-size: 60px;
}
.fs-100{
	font-size: 100px;
}